# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the csg_toolkit plugin when downloading from the Asset Library.
/**                              export-ignore
/addons                          !export-ignore
/addons/csg_toolkit              !export-ignore
/addons/csg_toolkit/**           !export-ignore